<div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1>Login Form</h1>
              <div>
                 <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Username", required:"" %>
              </div>
              <div>
                 <%= f.password_field :password, class:"form-control", placeholder:"Password",required:"" %>
              </div>
              <div>
                <%= f.submit "Log in", class:"btn btn-default submit" %>
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-mobile"></i> Vagner de Oliveira!</h1>
                  <p>©2021 All Rights Reserved. Vagner Oliveira!. Privacy and Terms</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
 </div>
